#flag{
   width: 450px; 
}

#pastabowl{
    width:400px;
}
.myLinks{
    color:white;
    font-weight: 800;
    font-size:large;
}
@media only screen and (orientation:portrait){
    #pastabowl {
        display:none
    }
}
@media only screen and (orientation:portrait){
    #flag {
        display:none
    }
}